
@import url('https://fonts.googleapis.com/css2?family=Tiny5&display=swap');

body {
    background-color: #ffffff;
    color: #000;
    background-image: url(../img/pugnovo.png);
    background-repeat: no-repeat;
   background-attachment: fixed;
    background-size: 100%;
}
.vermelho {
    color: red;/*Aqui são classes para utilizar em momentos especificos, tipo uma variavel do python*/
}   
.azul{
    color: blue;
}
.sublinhado{
    text-decoration: underline;
}
#maiusculo{
text-transform: uppercase;
}
a:hover{
color: yellow;
}
p::first-letter{
font-size: 50px;
}
p::first-line{                                                                                                                                                                                                                                                                               
    color: var(--cor-primaria)
}
:root{
    --cor-primaria: green;
    --cor-secundaria: brown;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Tiny5", sans-serif;

}
h1, h6 {
    text-align: center;
    font-size: 20px;
}
#pai{
    padding: 10px;
    border: 1px;
    width: 100%;   
}
